.container{
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
}
.btn_svg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.categoryContainer{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    height: auto;
    margin: 10px;
    padding: 20px;
}
.underBlock{
    display: flex;
    justify-content: space-between;
}

.text{
    align-items: center;
}
