.container {
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*!*justify-content: center;*!*/
    /*    align-items: center;*/
    min-width: 100%;
    height: 700px;
    /*border: 3px solid black;*/
}
.CartItemContainer{
    display: flex;
    border:1px solid black;
    height: 30px;
    z-index: 2;
}

.SettingBar {
    display: flex;
    justify-content: space-between;
    height: auto;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    background-color: #eeeeee;
}


.sort {
    padding:10px 0;
    margin: 0 auto;
    min-width: 1366px;
    display: flex;
    justify-content: space-between;
}

.StanDart {
    /*border:none;*/
    /*border-bottom: 1px solid #dddddd;*/
    /*border-top: 1px solid #dddddd;*/
    margin-left: 30px;

    /*height: 100%;*/
}
.btn_svg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.underBlock{
    display: flex;
    justify-content: space-between;
}

.text{
    align-items: center;
}

.btn {
    border: none;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    color: #666766;
    padding: 15px;
}

/*.btn:hover{*/
/*    color: #4189DD;*/
/*}*/
.btn:hover {
    /*border: 1px solid red;*/
    color: #4189DD;
    border-top: 1px solid #4189DD;
    border-bottom: 1px solid #4189DD;
    /*    настроить псевдакласс для кнопки*/
}

.catalog {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1366px;
}

.sortUp {
    margin-right: 30px;
    /*border-right: 1px solid black;*/
}

.sortDown {
    margin-right: 30px;
}