.header {
    color: #FFFFFF;
    font-size: 35px;
    margin-bottom: 20px;
}
.contactUsAddress {
    display: flex;
    align-items: center;
    color: #A5A6AB;
    margin-bottom: 30px;

}
.contactUsSvg{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.contactUsPhone{
    display: flex;
    align-items: center;
    color: #A5A6AB;
    margin-bottom: 30px;
}
.link{
    text-decoration: none;
    color: #A5A6AB;
}
