.container{
    border: 1px solid purple;
    height: 75px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #FFFFFF;
    color: #2d2d2d;
    border-radius: 15px;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    outline: none;
}