.container{
    border: 1px solid purple;
    height: 100px;
    width: 300px;
    background-color: darkgrey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1px;
    cursor: pointer;

}