.container {
    display: flex;
    justify-content: center;
    max-width: 1366px;
    margin: 12px auto;
}

.imgCar {
    width: 400px;
    height: 280px;
}

.CarNameBlock {

}

.containerItem {
    width: 100%;
    background: #FFFFFF;
    border-radius: 15px;
    margin-left: 10px;
    padding-top: 30px;
    cursor: pointer;
}
