.container{
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}
.underText{
    display: flex;
    margin: 12px auto;
    align-items: center;

}
.carText{
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}