.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.containerSlider{
    width: 100%;
}
.underText{
    display: flex;
    margin: 12px auto;
    align-items: center;
}
.carText{
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}