.container{
    border:1px solid black;
    border-radius: 5px;
    padding:10px 50px;
    background-color: #dddddd;
    color: white;
}
.topReview{
    display: flex;
    justify-content: space-between;
}

