.container {
    display: flex;
    flex-direction: column;
    min-width: 1366px;
    height: auto;
}

.informationLine {
    margin-top: 50px;
    border-bottom: 2px solid;
}
.countContainer{
    /*margin-left: 50px;*/
    display: flex;
    flex-direction: row;

}
.textFotCount{
    margin-top: 100px;
}
.countMinus{

    font-size: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    border-radius:100px 0 0 100px;

}
.containerAddCard{
    display: flex;

    margin-top: 50px;


    flex-direction: row;
}
.countryContainer{

    display: flex;
    margin-top: 50px;
}
.country{
    font-size: 25px;
    padding: 20px;
    color: #ffffff;
    background-color: black;
}
.NameCountry{
    font-size: 25px;
    padding: 20px;
   color:black;
}
.yearContainer{

    display: flex;
    margin-top: 50px;
}
.year{
    font-size: 25px;
    padding: 20px;
    color: #ffffff;
    background-color: black;
}
.NameYear{
    font-size: 25px;
    padding: 20px;
    color:black;
}
.addToCard{
    margin-left: 45px;
    min-width:302px ;
    display: flex;
    justify-content: center;
    /*border:1px solid black;*/
    align-items: center;
    border-radius: 100px;
    background-color: #000000;
}
.addToCard_text{
    color: white;
    margin-right: 30px;
}
.countPlus{
    font-size: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    border-radius:0 100px 100px 0;
}
.countInt{
    font-size: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top:2px solid black;
    border-bottom:2px solid black;
}
.mainDescription {
    margin-top: 50px;
    color: black;
}

.img {
    min-width: 655px;
    height: 700px;
    background-color: black;
    margin-right: 10px;
}

.Description {
    margin-left: 82px;
    width: 655px;
    display: flex;
    flex-direction: column;
    /*width:auto;*/
    text-align: left;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: white;
    width: 170px;
    height: 48px;
    background-color: black;


}

.textPrice {
    font-size: 25px;
    letter-spacing: .07em;
}

.containerDescription {

    display: flex;
    justify-content: space-between;
}