.container {
    display: flex;
    flex-direction: column;
    min-width: 1366px;
    height: auto;
}

.informationLine {
    margin-top: 50px;
    border-bottom: 2px solid;
}
.countContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.textFotCount{
    margin-top: 100px;
}
.countMinus{
    font-size: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    border-radius:100px 0 0 100px;

}
.countPlus{
    font-size: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    border-radius:0 100px 100px 0;
}
.countInt{
    font-size: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top:2px solid black;
    border-bottom:2px solid black;
}
.mainDescription {
    margin-top: 50px;
    color: black;
}

.img {
    min-width: 655px;
    height: 700px;
    background-color: black;
    margin-right: 10px;
}

.Description {
    margin-left: 82px;
    width: 655px;
    display: flex;
    flex-direction: column;
    /*width:auto;*/
    text-align: left;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: white;
    width: 170px;
    height: 48px;
    background-color: black;


}

.textPrice {
    font-size: 25px;
    letter-spacing: .07em;
}

.containerDescription {

    display: flex;
    justify-content: space-between;
}