input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
.container {
    box-sizing: border-box;
    display: flex;
    height: 88px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 12px 34px rgba(7, 8, 35, 0.15);
    z-index: 1;
}

.nav {
    width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    padding-right: 18px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 6px;
    color: #050816;
    font-weight: bold;
}

.btn {
    outline: none;
    display: flex;
    width: 52px;
    border-radius: 1px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.btnHover:hover {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.btnClipboard {
    padding-right: 20px;
}

.containerCount {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkLogo {
    text-decoration: none;
}

.price {
    font-size: 24px;
    margin: 0 5px 0 0;
}

.currency {
    font-size: 15px;
    margin: 0;
}


.searchWidth {
    color:#0d0d0e;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    display: flex;

}

.search {
    font-size: 14px;
    line-height: 16px;
    padding-left: 15px;
    color:#0d0d0e;
    border: 2px solid #9B9CA2;
    border-radius: 7px;
    height: 40px;
    width: 100%;
    margin: 0 25px;
}


.btnSearch {
    transform: translateX(-77px);
}

.imgBtn {
    width: 40px;
    height: 40px;
}