.container {
    display: flex;
    height: 88px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 12px 34px rgba(7, 8, 35, 0.15);
    z-index: 1;

}

.logo {
    cursor: pointer;
    padding-right: 18px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 6px;
    color: #050816;


}

.btn {
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-right: 25px;
    cursor: pointer;
}

.btnFavorite {

}

.btnCart {

}

.nav {
    box-sizing: border-box;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}



.searchWidth {
    font-size: 14px;
    line-height: 16px;

    width: 100%;
    display: flex;

}

.search {

    font-size: 14px;
    line-height: 16px;
    padding-left: 15px;
    color: #A5A6AB;
    /*color: #2d2d2d;*/
    background: #9B9CA2;
    opacity: 0.2;
    border-radius: 7px;
    height: 40px;
    width: 100%;
    margin: 0 25px;
    min-width: 633px;
    /*color: #ffffff;*/
    border: none;
}


.btnSearch {
    background-color: transparent;
    height: 35px;
    transform: translate(-86px, 0);
    border: none;
}

.imgBtn {
    width: 40px;
    height: 40px;
}