.container {
    display: flex;

    flex-direction: column;
    z-index: 10;
    width: 100%;
    padding: 40px;
    background: #0d0d0e;
}

.topFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFFFFF;
}


