.container{
    display: flex;
    width: auto;
    height: auto;
    padding-left: 25px;
    margin-right: 25px;
    margin-top:25px;
    border-bottom: 2px solid black;

}

.Name{
    font-size: 25px;
    font-weight: 600;
}