.container{
    width: 1366px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    /*display: grid;*/
    /*grid-gap: 5px;*/
    /*grid-template-columns: repeat(12, 1fr);*/
    /*grid-template-rows: 50px 350px 50px;*/
    /*grid-template-areas:*/
    /*    "f f f f f f f s s s s s"*/
    /*    "f f f f f f f t t t t t"*/
    /*    "fo fo fo fo fo fo fi fi fi fi fi fi";*/
}
/*.first{*/
/*    grid-area: f;*/
/*}*/
/*.second{*/
/*    grid-area: s;*/
/*}*/
/*.third{*/
/*    grid-area: t;*/
/*}*/
/*.fourth{*/
/*    grid-area: fo;*/
/*}*/
/*.fifth{*/
/*    grid-area: fi;*/
/*}*/
/*.sixth{*/
/*    grid-area: s;*/
/*}*/

/*.div7 { grid-area: 1 / 1 / 3 / 3; }*/
/*.div8 { grid-area: 3 / 2 / 4 / 3; }*/
/*.div9 { grid-area: 3 / 3 / 4 / 4; }*/